/*colors:
orange - hsl(31, 77%, 52%);
lightcyan - hsl(184, 100%, 22%);
darkcyan - hsl(179, 100%, 13%);*/

/*attribution*/
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.carCard {
  padding: 1rem 1rem 3rem 1rem;
}

#sedanDiv {
  background-color: hsl(31, 77%, 52%);
  border-radius: .75rem 0 0 .75rem;
}

#suvDiv {
  background-color: hsl(184, 100%, 22%);
}

#luxuryDiv {
  background-color: hsl(179, 100%, 13%);
  border-radius: 0 .75rem .75rem 0;
}

.main-content {
  height: auto;
  padding: 10rem 0;
}

.car-desc {
  font-size: 15px;
  color: hsla(0, 0%, 100%, .75);
  font-family: Lexend Deca;
  width: 75%;
  line-height: 1.75rem;
  font-weight: 400;
  padding-bottom: 5rem;
}

.car-title {
    font-family: Big Shoulders Display;
    color: hsl(0, 0%, 95%);
    font-weight: 700;
    text-transform: uppercase;
    line-height: 6rem;
}

.bttn-cntr:hover {
  border: 1.5px solid white !important;
  background-color: transparent;
}

.bttn-cntr {
    background-color: hsl(0, 0%, 95%);
    border-radius: 100px;
    padding: 0.75rem 0 0 0;
    width: 55%;
}

.bttn p {
  text-align: center;
}

.bttn-cntr {
    position: absolute;
    bottom: 2rem;
}

button {
  border-radius: 100px !important;
  background-color: hsl(0, 0%, 95%);
  width: 60%;
  height: 3rem !important;
  position: absolute;
  bottom: 2rem;
  border: none !important;
}

button:hover {
  background-color: transparent;
  color: hsl(0, 0%, 95%) !important;
  border: 1px solid hsl(0, 0%, 95%) !important;
}

#btnSed {
  color:hsl(31, 77%, 52%);
}

#btnSuv {
  color: hsl(184, 100%, 22%);
}

#btnLux {
  color: hsl(179, 100%, 13%);
}

a:hover {
  text-decoration: none;
}

/*media queries*/
@media (min-width: 1400px) {
  #sedanDiv {
  border-radius: .75rem 0 0 .75rem;
  }
}

  @media (min-width: 1400px) {
    #luxuryDiv {
    border-radius: 0 .75rem .75rem 0;
    }
  }
